<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include("templates/header") %>
        <div class="container">
            <%- include("templates/navbar", {onDash: onDash}, {items: items}) %>
            <main>
                <section class="item-header">
                    <h2><%= title.charAt(0).toUpperCase() + title.slice(1) %> Items</h2>
                    <button class="add-item" onclick="window.location.href='/<%= title %>/new'">
                        <img src="/assets/images/plus-icon.svg" alt="add-item" height="25">
                        <p>Add Item</p>
                    </button>
                </section>
                <section class="category-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Expiry Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% items.forEach((item) => { %>
                                <tr class="<%= item.expiryStatus === 'Expired' ? 'expired-bg' : item.stockStatus === 'Low Stock' ? 'low-stock-bg' : '' %>">
                                    <td class="itemStatus">
                                        <div>
                                            <p><%= item.name %></p>
                                            <% if(item.expiryStatus !== "no-expiry") { %>
                                                <p class="<%= item.expiryStatus %>"><%= item.expiryStatus %></p>
                                            <% } %>
                                            <% if(item.stockStatus !== "In Stock") { %>
                                                <p class="stockStatus"><%= item.stockStatus %></p>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td><%= item.quantity %></td>
                                    <td><%= item.unit %></td>
                                    <td><%= item.expiry_date ? item.expiry_date : "No expiry" %></td>
                                    <td>
                                        <div class="action-buttons">
                                            <form action="/<%= item.id %>/<%= item.category_id %>/delete" method="POST">
                                                <button type="submit" onclick="return confirm('Are you sure you want to delete this item?')">
                                                    <img src="/assets/images/delete-icon.png" alt="delete-item" height="25">
                                                </button>
                                            </form>

                                            <a href="/<%= item.id %>/<%= item.category_id %>/update">
                                                <img src="/assets/images/edit-icon.png" alt="edit-icon" height="25">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </section>
            </main>
        </div>
        <footer>
            © 2026 FreshStock. All rights reserved.
        </footer>
    </body>
</html>