<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('templates/header') %>
        <div class="container">
            <%- include("templates/navbar", {onDash: onDash}) %>
            <main>
                <section class="item-info">
                    <h2>Dashboard</h2>
                    <div>
                        <article class="total-categories">
                            <div>
                                <p>Total Categories</p>
                                <img src="assets/images/all-categories-icon.png" alt="total-categories" height="35">
                            </div>
                            <p>6</p>
                        </article>

                        <article class="total-inventory">
                            <div>
                                <p>Total items in inventory</p>
                                <img src="assets/images/total-items-icon.png" alt="total-items" height="35">
                            </div>
                            <p><%= totalItems %></p>
                        </article>

                        <article class="low-stock-count">
                            <div>
                                <p>Low-stock items</p>
                                <img src="assets/images/low-stock-icon.png" alt="low-stock" height="35">
                            </div>
                            <p><%= lowStockCount %></p>
                        </article>

                        <article class="expiring-soon-count">
                            <div>
                                <p>Expiring soon</p>
                                <img src="assets/images/expiring-soon-icon.png" alt="expiring-soon" height="35">
                            </div>
                            <p><%= expiringSoonCount %></p>
                        </article>
                    </div>
                </section>
                <section class="low-stock-items">
                    <h2>Low Stock Items</h2>
                    <div>
                        <% lowStockItems.forEach(item => { %>
                            <article>
                                <p><%= item.name %> — <%= item.quantity %> <%= item.unit %></p>
                                <p class="lowStockDashStatus">Low Stock</p>
                            </article>
                        <% }) %>
                    </div>
                </section>
                <section class="recently-added-items">
                    <h2>Expiring Soon Items</h2>
                    <div>
                        <% expiringSoonItems.forEach(item => { %>
                            <article>
                                <p><%= item.name %> — <%= item.quantity %> <%= item.unit %></p>
                                <p class="expiringSoonDashStatus">Expiring Soon</p>
                            </article>
                        <% }) %>
                    </div>
                </section>
            </main>
        </div>
        <footer>
            <p class="footer-designer">
                © 2026 FreshStock. All rights reserved.
                <span class="bullet-seperator">•</span>
                Designed by
                <a href="https://github.com/newbbiecoder" target="_blank">newbbiecoder (GitHub)</a>
            </p>
        </footer>
    </body>
</html>